body {
  margin:0;
  background-image: url(cv-sample.png);
 color: #fff;
 font-family: 'Lato';
 line-height: 1.5;
}
header {
  height: 250px;
  color: #000;
  background-image: url(jedy.jpg);
  background-position: 0 -70px;
  line-height: 100px;
  }
ul{
padding:0;
}

li {
  list-style: none;
}
h1 {
 font family: "Lato";
}

header h1 {
  float: right;
  margin-right: 25px;
  padding-left: 500px;
  margin-top: 0;
}
.wrap {
max-width: 40em;
margin: 0 auto
}

height: auto;
/* Ez itt nem is ertelmezodik */

h1 {
 font-weight: 900;
 font-size: 36px;
 margin-bottom: 0;
 color: #444;
}

h2 {
 font-weight: 300;
 font-size: 32px;
 margin-top: 0;
 margin-bottom: 40px;
 color: #999;
}

h1, h2 {
 font-family: Lato;
 text-align: center;
}
h3    {
  font-weight: normal;

}
